include ci/mixins-sara.jade
extends ci/base.jade
block title
 title Blog
block domingo
 h6 HABLA LA LIDERESA DEL NACIONALISMO
block content
 .row.titulo-blog
  h1.h-titular Blogs
  h4.inline-block.oswald LO ÚLTIMO EN BLOGS
  img.inline-block(src="../image/double-arrow-bottom.png")
 .container-fluid
  .row.cuadros-blogs
   +libros
   +gol-blog
   +libros
   +libros
   +libros
   +libros
   +libros               	