include ci/mixin_k.jade
extends ci/base.jade
block title
	title footer
block domingo
	h6 HABLA LA LIDERESA DEL NACIONALISMO
block content
block footer

	+footer("../image/logo-grupo-la-republica.png",'Grupo La República Digital','Jirón Camaná 320 Cercado de Lima','Teléfono: 711-6000','(Central Telefónica)','Todos los derechos reservados-2015')

